
<style ng-bind-html="currentItem|animateItem:currentPageIndex:true"></style>
<div class="container-fluid">
  <div class="container">
    <div class="row">
	    <div class="col-md-12">
        <div class="page-header form-inline">
          <input class="form-control" type="text" ng-model="info.title">
          <a class="btn btn-large btn-primary" ng-click="save()">保存</a>
          <a class="btn btn-large" ng-href="/user/{{email}}">返回</a>
        </div>
	    </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <div class="panel panel-default">
        <div class="panel-heading">选择分页</div>
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="page in pages" ng-class="{active:currentPageIndex===$index}" ng-click="setCurrentPage($index)">     
            <label class="label" ng-class="{'label-default':currentPageIndex!==$index}">第{{$index+1}}页</label>
            <a class="badge" ng-click="removePage($index); $event.stopPropagation();">删除</a>
          </li>
        </ul>
        <a class="btn btn-large" ng-click="newPage()">添加页面</a>
      </div>
      
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          当前编辑第{{currentPageIndex+1}}页 
          <select ng-options="k for k in resolution.deviceNames" ng-model="info.currentResolution"></select>
        </div>
        <div class="phone-box" ng-class="'p'+currentPageIndex" ng-style="resolution.devices[info.currentResolution]">
        
          <div class="phone-screen" ng-style="currentPage.style|stylefilter:'image'">
            <h5-element ng-repeat="itemId in currentPage.items" 
              item="items[itemId]" 
              set-item="setCurrentItem(itemId)"
              item-id="{{itemId}}"
              resolution="resolution.devices[info.currentResolution]" 
              ng-style="items[itemId].style|stylefilter:items[itemId].type"
              ng-class="items[itemId]|animateClassName"
              >
            </h5-element>
            
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <h2 ng-if="currentPageIndex<0">暂无页面</h2>
      <div ng-if="currentPageIndex>=0">              
        <div class="panel panel-default">
          <div class="panel-heading">
            第{{currentPageIndex+1}}页
          </div>
          <ul class="nav nav-tabs">
            <li role="presentation" ng-class="{active:pageStates.pageTab==='page'}">
              <a ng-click="pageStates.pageTab='page'">页面属性</a>
            </li>
            <li role="presentation" ng-class="{active:pageStates.pageTab==='items'}">
              <a ng-click="pageStates.pageTab='items'">查看元素</a>
            </li>
          </ul>          
          <ng-include src="'/statics/js/edit/views/page-base.html'" ng-if="pageStates.pageTab==='page'" ></ng-include>
          <div ng-if="pageStates.pageTab=='items'">
            <ul class="list-group">
              <li class="list-group-item" ng-repeat="itemId in currentPage.items" ng-class="{active:currentItemIndex==itemId}">
                <label ng-click="setCurrentItem(itemId)">第{{items[itemId].name}}</label>
                <a class="badge" ng-click="removeItem($index)">删除</a>
              </li>
            </ul>
            <a class="btn btn-large" ng-click="newItem()">添加元素</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3" >
      <h2 ng-if="currentItemIndex<0">暂无元素</h2>
      <div ng-if="currentItemIndex>=0">
        <div class="panel panel-default">
          <div class="panel-heading">
            元素 <input ng-model="currentItem.name"> 
          </div>
          <ul class="nav nav-tabs">
            <li role="presentation" ng-class="{active:pageStates.itemTab==='item'}">
              <a ng-click="pageStates.itemTab='item'">样式</a>
            </li>
            <li role="presentation" ng-class="{active:pageStates.itemTab==='transistion'}">
              <a ng-click="pageStates.itemTab='transistion'">入场</a>
            </li>
            <li role="presentation" ng-class="{active:pageStates.itemTab==='animate'}">
              <a ng-click="pageStates.itemTab='animate'">动画</a>
            </li>
          </ul>
          <ng-include src="'/statics/js/edit/views/item-animate.html'" ng-if="pageStates.itemTab=='animate'" ></ng-include>
          <ng-include src="'/statics/js/edit/views/item-transistion.html'" ng-if="pageStates.itemTab=='transistion'" ></ng-include>
          <ng-include src="'/statics/js/edit/views/item-base.html'" ng-if="pageStates.itemTab=='item'" ></ng-include>
        </div>
      </div>
    </div>
  </div>
</div>