      <ul class="list-group">
          <li class="list-group-item">  
            <label class="form-label">
              <input type="checkbox" ng-model="currentItem.transition.enabled">是否启用</label>
          </li>
      </ul>
      <div ng-if="currentItem.transition.enabled">   
        <h4>进入动作</h4>
        <ul class="list-group">
          <li class="list-group-item">
            <label class="form-label">延迟</label>
            <div class="input-group">
              <input class="form-control" ng-model="currentItem.transition.delay">
              <div class="input-group-addon">秒</div>
            </div>
          </li><li class="list-group-item">
            <label class="form-label">持续时间</label>
            <div class="input-group">
              <input class="form-control" ng-model="currentItem.transition.duration">
              <div class="input-group-addon">秒</div>
            </div>
          </li><li class="list-group-item">
            <label class="form-label">过度曲线</label>
            <div class="input-group">
              <input class="form-control" ng-model="currentItem.transition.timingFunction">
            </div>
            <p>可参考<a href="http://cubic-bezier.com/" target="_blank">cubic-bezier</a>填入，例如cubic-bezier(.17,.67,.46,1.56)</p>
          </li>
        </ul>  
        <h4>初始状态</h4>
        <ul class="list-group">  
          <li class="list-group-item">
            <label class="form-label">透明度</label>
            <div class="input-group">
              <input class="form-control" ng-model="currentItem.transition.opacity">
            </div>
          </li>
          <li class="list-group-item">
            <label class="form-label">上下偏移（正数表示从下方进入）</label>
            <div class="input-group">
              <input class="form-control" ng-model="currentItem.transition.offsetY">
              <div class="input-group-addon">px</div>
            </div>
          </li><li class="list-group-item">
            <label class="form-label">左右偏移（正数表示从右侧进入）</label>
            <div class="input-group">
              <input class="form-control" ng-model="currentItem.transition.offsetX">
              <div class="input-group-addon">px</div>
            </div>
          </li><li class="list-group-item">
            <label class="form-label">旋转</label>
            <div class="input-group">
              <input class="form-control" ng-model="currentItem.transition.rotate">
              <div class="input-group-addon">deg</div>
            </div>
          </li><li class="list-group-item">
            <label class="form-label">缩放</label>
            <div class="input-group">
              <input class="form-control" type="number" ng-model="currentItem.transition.scale">
              <div class="input-group-addon">倍</div>
            </div>
            <p>注意0为默认值会被忽略，缩小请使用0.01</p>
          </li>
        </ul>
      </div>