doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport",content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0")
    link(rel="stylesheet",type="text/css",href="/statics/css/bootstrap.min.css" )
    link(rel="stylesheet",type="text/css",href="/statics/css/edit.css" )
    title= pageTitle
  body(ng-app='animatetool')
    div(ng-view='')
    input(type='hidden',id='project',value=project._id||project.id)
    input(type='hidden',id='email',value=project.email)
    
    script(src='/statics/bower_components/jquery/dist/jquery.min.js')
    script(src='/statics/bower_components/angular/angular.min.js')
    script(src='/statics/bower_components/angular-route/angular-route.min.js')
    script(src='/statics/bower_components/angular-resource/angular-resource.min.js')
    
    script(src='/statics/js/edit/index.js')
    script(src='/statics/js/edit/services/idgen.js')
    script(src='/statics/js/edit/services/animate-type.js')
    script(src='/statics/js/edit/directives/h5element.js')
    script(src='/statics/js/edit/directives/fileread.js')
    script(src='/statics/js/edit/filters/style.js')
    script(src='/statics/js/edit/filters/h5content.js')
    script(src='/statics/js/edit/filters/animation.js')
    script(src='/statics/js/edit/controllers/home.js')
      
      