doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport",content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0")
    title= pageTitle
    
    link(rel="stylesheet",type="text/css",href="/statics/css/base.css" )
  body
    h1 home
    p please login
    form(action="/login",method="post")
      ul
        li
          label(for="email") email
          input(name="email",id="email")
        li
          label(for="password") password
          input(name="password",type="password",id="password")
        li
          button(type="submit") login

      a(href="/regist") regist

