[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

h5-element {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
  cursor: move;
  
}

h5-element .drag {
  content: '';
  position: absolute;
  box-sizing: border-box;
  width: 0px;
  height: 0px;
  border: 5px solid #ddd;
  border-top: 5px solid transparent;
  border-left: 5px solid transparent;
  right: 0;
  bottom: 0;
  cursor: crosshair;
}

.phone-box {
  border: 1px solid #000;
  position: relative;
}

.phone-box svg {
  width: 100%;
}

.phone-screen {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  background-repeat: no-repeat;
}

.phone-screen h5-element {
  border: 1px solid #ddd;
  position: absolute;
  box-sizing: border-box;
  overflow: hidden ;
  
  justify-content:center;
  display:flex;
  align-items: center;
  
  background-repeat: no-repeat;
}