{{backgroundPosition}}{{bgPos}}
<table>
  <tr>
    <td>
      <label class="radio-inline">
        <input type="radio" ng-model="backgroundPosition" value="top left">↖            
      </label>
    </td>
    <td>
      <label class="radio-inline">
        <input type="radio" ng-model="backgroundPosition" value="center top">↑             
      </label>
    </td>
    <td>
      <label class="radio-inline">
        <input type="radio" ng-model="backgroundPosition" value="top right">↗         
      </label>
    </td>
  </tr>
  <tr>
    <td>
      <label class="radio-inline">
        <input type="radio" ng-model="backgroundPosition" value="center left">←            
      </label>
    </td>
    <td>
      <label class="radio-inline">
        <input type="radio" ng-model="backgroundPosition" value="center">◎           
      </label>
    </td>
    <td>
      <label class="radio-inline">
        <input type="radio" ng-model="backgroundPosition" value="center right">→   
      </label>         
    </td>
  </tr>
  <tr>
    <td>
      <label class="radio-inline">
        <input type="radio" ng-model="backgroundPosition" value="bottom left">↙            
      </label>
    </td>
    <td>
      <label class="radio-inline">
        <input type="radio" ng-model="backgroundPosition" value="center bottom">↓         
      </label>
    </td>
    <td>
      <label class="radio-inline">
        <input type="radio" ng-model="backgroundPosition" value="bottom right">↘        
      </label>
    </td>
  </tr>
</table>    